name: Active-Riemann Project Checks
run-name: CI run for ${{ github.ref_name }}
on: [push, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Cache Clojure Dependencies
        uses: actions/cache@v5
        with:
          path:
            - ~/.m2
            - ~/.gitlibs
          key: cache-${{ hashFiles('**/deps.edn') }}
          restore-keys: clojure-deps-

      - name: Prepare java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13
        with:
          lein: latest

      - name: Run lein test
        run: lein test
